src/main/mule/mule-oauth-provider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<os:object-store name="client_os" doc:name="Object store" doc:id="128e231c-cc83-4f03-b5e3-38b005d6c35a" />
	<os:object-store name="token_os" doc:name="Object store" doc:id="9bb292de-66f3-44f5-97e4-6b4c44cd59f5" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="836929f1-4758-4522-9476-92ed5fcf69a0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="b9c95762-fa50-4670-b8d4-316dab5586a0" listenerConfig="HTTP_Listener_config" clientStore="client_os" supportedGrantTypes="CLIENT_CREDENTIALS" >
		<oauth2-provider:token-config tokenStore="token_os" />
	</oauth2-provider:config>
	<flow name="mule-oauth-providerFlow" doc:id="cb839850-df6a-493d-973b-8d6eea69be22" >
		<http:listener doc:name="Listener" doc:id="37073c1c-725e-454d-be8e-6d6954895867" config-ref="HTTP_Listener_config" path="/createClient"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="4ed3edec-8c25-4003-bbd1-8197fa121976" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" type="CONFIDENTIAL" secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" description='#[""]' principal='#[""]' redirectUris='#[["abc.com"]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]' failIfPresent="true"/>
		<set-payload value='#["client created"]' doc:name="Set Payload" doc:id="4be0c296-1270-459a-a118-7aa4bb5ab051" />
	</flow>
	<flow name="mule-oauth-providerFlow1" doc:id="1b94b420-c675-4303-9fa7-949f820dc0e4" >
		<http:listener doc:name="Listener" doc:id="13aa3136-0781-47c6-8565-a77b886ad0cd" config-ref="HTTP_Listener_config" path="/validate"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="f5984ab1-387b-4e54-a15d-ae27be93552a" config-ref="OAuth2_Provider_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="afacbc42-35cd-456a-b35b-e2896a903e44" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
